body{
    background-color: lightgray;
    
}

main{
    
    background-image: url(../img/fond/photos4.jpg)
}

#liste1{
    background-color: lightsteelblue;
}

#liste2{
    background-color: beige;
}

#galiste1{
    background-color: lightsteelblue;

}

#galiste2{
    background-color: beige;
}